appdirs==1.4.4
astroid==2.9.3
attrs==21.4.0
Brlapi==0.8.3
btrfsutil==5.16
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cloud-init==21.4
colorama==0.4.4
colour==0.1.5
configobj==5.1.0.dev0
cryptography==36.0.1
daemonize==2.5.0
distlib==0.3.4
dnspython==2.2.0
docopt==0.6.2
filelock==3.4.2
flake8==4.0.1
idna==3.3
importlib-metadata==4.8.1
isc==2.0
isort==5.10.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
lazy-object-proxy==1.7.1
louis==3.20.0
Markdown==3.3.6
MarkupSafe==2.0.1
mccabe==0.6.1
meld==3.20.4
more-itertools==8.10.0
netifaces==0.11.0
notify2==0.3.1
numpy==1.22.2
oauthlib==3.1.1
openrazer==3.2.0
openrazer-daemon==3.2.0
ordered-set==4.0.2
packaging==20.9
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.4.1
ply==3.11
psutil==5.9.0
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyGObject==3.42.0
pylint==2.12.2
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyrsistent==0.18.1
python-xlib==0.31
pyudev==0.22.0.dev20211202
pywal==3.3.0
PyYAML==5.4.1
ranger-fm==1.9.3
razercfg==0.42
Reflector==2021.11.20.2.41.3
requests==2.26.0
setproctitle==1.2.2
six==1.16.0
team==1.0
toml==0.10.2
trash-cli==0.21.10.24
ueberzug==18.1.9
urllib3==1.26.8
validate==5.1.0.dev0
virtualenv==20.13.1
virtualenv-clone==0.5.7
wrapt==1.13.3
zipp==3.7.0
